
@model AlunoModel


<h1>Cadastro de Alunos</h1>



@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]

    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]

    </div>
}


<form asp-controller="Aluno" asp-action="CadastrarAlunos" method="post">

    <div class="form-group">
        <label>Nome: </label>
        <input type="text" class="form-control" placeholder="Nome" asp-for="Nome"/>
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Date de Nascimento: </label>
        <input type="date" class="form-control"  asp-for="DataNascimento" />
        <span asp-validation-for="DataNascimento" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Selecione Turma:</label>
        <select class="form-select" style="width:100%" asp-for="TurmaId">

            @foreach (var turma in ViewBag.Turmas)
            {           
            <option value="@turma.Value">@turma.Text</option>
            }          
        </select>
        
    </div>


    <div class="d-flex  flex-row justify-content-center gap-5">

        <button type="submit" class="btn btn-primary w-25">Criar Aluno</button>
        <a asp-controller="Aluno" asp-action="ListarAlunos" class="btn btn-secondary w-25">Voltar</a>

    </div>

</form>
